@use "../variables" as *; // Importa todas as variáveis

body {
  padding: $spacing-6 $spacing-6;
  font-family: $font-family-base;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $gradient-light;
}
