@use "../variables" as *;

.card {
  width: 400px;
  background: $neutral-0;
  margin-bottom: $spacing-3;
  padding: $spacing-2;
  border-radius: $border-radius-lg;
  box-shadow: $shadow-md;
  flex-wrap: wrap;

  &__top {
    display: flex;
    margin-bottom: $spacing-6;
    height: 70px;
  }

  &__logo {
    align-self: flex-start;
    padding-top: 0;
    width: 50px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: $spacing-2;
    gap: $spacing-1;
  }

  &__description {
    font-size: $font-size-base;
    color: $neutral-600;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__remove {
    padding: $spacing-1;
    border-radius: $border-radius-sm;
    border: 1px solid $neutral-700;
    background: none;
    font-weight: $font-weight-regular;
    border-radius: $border-radius-lg;
  }
}

.card.dark {
  background: $neutral-800;
}

.card__remove:hover {
  cursor: pointer;
  background: $red-400;
  color: $neutral-0;
  border: none;
}

.selected {
  background: $red-700;
  color: $neutral-0;
}
